header{
    background-image: url(multimedia/Fondo.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed; 
 
}
/*.combinado {      
    
    transition: all 2s;

}
.combinado:hover {
   
    transform: rotate(90deg) scale(2) translateX(120px);

-webkit-transform: rotate(90deg) scale(2) translateX(120px);
-o-transform: rotate(90deg) scale(2) translateX(120px);

}*/

.conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    transition: all 4s;
    
}
.conteiner-logo:hover{
    transform: rotate(360deg) scale(1) translateX(120px);
}
    


h1{
    color: black;
    text-align: center;
    font-size: 50px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav {
    grid-area: nav;
    display: flex;
    justify-content:center;
    background-color: rgb(161, 161, 161);
    color: black;
    padding: 5px;
} 
.contenedor{
    display: grid;
    grid-template-columns:'header header header'
    'nav nav nav'
   'section section aside'
    'footer footer footer'   
}

section{
    grid-area: section;
    color: black;
   
    padding: 5px;
}
.estiloportada {
    text-align:right ;
    font-size: 30px;
    display: flex;
    justify-content: flex-start;
}
aside{
    grid-area: aside;

    display: flex;
    height: 300px;
    justify-content: flex-end;
    align-items: stretch;
     
}
footer{ 
    grid-area: footer;
    background-color: black;
    color: white;
    padding: 10px;
} 

/*Discografia*/
*{
    box-sizing: border-box;
}

header{
    background-image: url(multimedia/Fondo.png);
}

.flex-conteiner{
    display:flex;
    justify-content: center;
    padding: 20px;
}

.flex-conteiner div{
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
}

footer{
    grid-area: footer;
    background-color: black;

    display: flex;
    width: 100%;
    color: white;       
}

/*Prensa*/

.prensa-conteiner{
    min-height: 10px;
    min-width: 50px;
    color: black;
}


.prensa-conteiner div{
    text-align:justify ;
    display: flex;
    padding: 10px
}


/*Contacto*/
*{
    margin:0;
    padding:0;

}
body{
    color: gray;
    background-color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    line-height: 1.3;
    background-image: url(multimedia/Fondo.png);    

    display: flex;
    flex-direction: column;
    align-items: center;
}
.speaker-form-header{
    text-align: center;
    background-color: azure;
    border: 1px solid bisque;
    border-radius: 10px;
    width: 80%;
    margin: 40% 0;
    padding:50px;
}

.speaker-form-header h1{
    font-size: 30px;
    margin-bottom: 20px;
}

.form-row{
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}

.form-row input [type="text"],
.form-row input [type="email"]{
    background-color: #fff;
    border-radius: 3px;
    width: 100%;
    padding: 7px;
    font-size: 14px;
}

.form-row label{
    margin-bottom: 15px;
}
.form-row textarea{
    font-size: 14px;
    border: 1px solid #d6d9dc;
    border-radius: 3px;
    margin-bottom: 10px;
    padding: 7px;
    min-height: 200px;
    min-width: 100%;
    resize: none;
}
.form-row .instructions{
    color: blue;
    margin-bottom: 30px;
    font-size: 14px;
}

.form-row button{
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: cadetblue;
    border: none;
    border-radius: 3px;
    padding: 10px 40px;
    cursor: pointer;
}

.form-row button:hover {
    background-color: #76aeed;
}
.form-row button:active{
    background-color: #407fc7;
}
